main {
 flex: 1;
  height: calc(100vh - 40vh);
 background-color: #bd715e;
 margin: 0 8px 0 8px;
}

body {
 background-color: #c47a55;
  display: flex;
 
}
aside {
 margin: 0 8px 0 8px;
   width: 20vw;
 background-color: #fda997;
}

